@use "../global/config" as *;
body {
  font-family: $ff;
  color: $clr-neutral300;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 2.2rem;
  line-height: 1;
}
